<h2>Connexion</h2>
<form method="POST" action="/login">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input name="username" placeholder="Nom d'utilisateur" />
  <input name="password" type="password" placeholder="Mot de passe" />
  <button type="submit">Se connecter</button>
</form>
